.skills {
    margin-bottom: 50px;
  }

  .skill-icon {
    font-size: 48px;
    margin-right: 20px;
    color: #45a29e;
    position: relative;
  }

  .tooltip {
    position: absolute;
    background-color: #0b0c10;
    color: #66fcf1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .skill-icon:hover .tooltip {
    opacity: 1;
  }